ul li {
    width: 22%;
    list-style: none;
  } 
  .img:hover{
    transform: scale(1.1);
    transition: 0.6s;
  }
  .pbtn:hover{
    background-color: rgb(15, 233, 160);
    width: 75%;
}   
.bgm{
    background-color: #c5aa6a;
}


.badge{
  font-size: 12px;
}
.txt{
  font-size: 100px;
  color: orange;
}
Link{
  text-decoration: none;
}
.bgm{
  background-color: rgb(240, 188, 152);
}
.profile{
  background-image: url('https://i.pinimg.com/736x/69/29/24/6929247e9a984705ceb18f5bdff4bbdd.jpg');
}
.h{
  height: 150px;
  background-color: cadetblue;
}
.reg{
  background-image: url('https://img.freepik.com/free-photo/abstract-luxury-blur-grey-color-gradient-used-as-background-studio-wall-display-your-products_1258-54646.jpg');
}